---
import Layout from "../../layouts/Layout.astro";
import AppHeader from "../../components/AppHeader.vue";
import AppFooter from "../../components/AppFooter.vue";
import ProducerRegisterForm from "../../components/auth/ProducerRegisterForm.vue";
import GradientBackground from "../../components/Hero/GradientBackground.vue";
import "../../styles/global.css";
---

<Layout title="Registro de Productores | AI Tickets">
  <script
    src="https://challenges.cloudflare.com/turnstile/v0/api.js"
    async
    defer></script>
  <AppHeader client:idle />

  <main
    class="relative min-h-screen flex items-center justify-center py-20 px-4 overflow-hidden"
  >
    <GradientBackground variant="soft" client:idle />
    <div class="relative z-10 w-full">
      <ProducerRegisterForm client:load />
    </div>
  </main>

  <AppFooter client:idle />
</Layout>
