---
import { supabase } from "../lib/supabaseClient";
import AppHeader from "../components/AppHeader.vue";
import AppFooter from "../components/AppFooter.vue";
import HeroSection from "../components/HeroSection.vue";
import EventList from "../components/EventList.vue";
import FeaturesSection from "../components/FeaturesSection.vue";
import BenefitsSection from "../components/BenefitsSection.vue";
import CallToAction from "../components/CallToAction.vue";
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
import 'animate.css';


// Consulta los eventos en el servidor (SSR)
// filtrar solo eventos que tengan status published
const { data: events, error } = await supabase.from("events").select("*").eq("status", "published");

// Si hay error o no hay eventos, definir un fallback vacío
const eventData = error || !events ? [] : events;
---

<Layout>
  <AppHeader/>
  
    <main>
      <HeroSection/>
      <EventList events={eventData} client:idle />
      <FeaturesSection/>
      <BenefitsSection/>
      <CallToAction/>
    </main>
  <AppFooter client:idle/>
</Layout>
