---
import AppHeader from "../components/AppHeader.vue";
import AppFooter from "../components/AppFooter.vue";
import HeroSection from "../components/HeroSection.vue";
import FeaturesSection from "../components/FeaturesSection.vue";
import BenefitsSection from "../components/BenefitsSection.vue";
import CallToAction from "../components/CallToAction.vue";
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";
import 'animate.css';
---

<Layout>
  <AppHeader client:idle/>
  
    <main>
      <HeroSection client:idle/>
      <FeaturesSection/>
      <BenefitsSection/>
      <CallToAction/>
    </main>
  <AppFooter client:idle/>
</Layout>
