---
import AppHeader from "../components/AppHeader.vue";
import AppFooter from "../components/AppFooter.vue";
import RegisterForm from "../components/RegisterForm.vue";
// import EventList from "../components/EventList.vue";
// import WhatIsSection from "../components/WhatIsSection.vue";
import ContactSection from "../components/ContactSection.vue";
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";

---

<Layout>
  <AppHeader client:idle/>
    <main>
        <section class="relative w-full p-10 mt-12 flex justify-center text-center px-6 overflow-hidden">
          <RegisterForm client:only="vue" />
        </section>
      <ContactSection/>
    </main>
  <AppFooter client:idle/>
</Layout>
